@font-face {
    font-family: RubikDoodleShadow;
    src: url(../fonts/RubikDoodleShadow-Regular.ttf);
}

html,
body {
    overflow: hidden;
    font-size: 3vh;
    font-family: RubikDoodleShadow;
}

.Title-In-Game {
    font-family: RubikDoodleShadow;
    border-bottom: 1px solid black;
    text-align: center;
}

.players {
    font-family: RubikDoodleShadow;
    font-size: medium;
    color: rgb(255, 0, 0);
    font-size: 17px;
}


.containerGame {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50vh;
}

.box {
    text-align: center;
    font-size: larger;
}

.box>button {
    text-align: center;
    font-size: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainScreen {
    display: flex;
    margin: 0px auto 0px auto;
    gap: 10vw;
}

.mainScreen>h1 {
    font-size: 10vh;


    @media (max-width: 768px) {
        font-size: 8vh;
    }


    @media (max-width: 480px) {
        font-size: 6vh;
    }

}